<form class="well" role="form" name="createListForm" ng-submit="createListForm.$valid && createListController.submitList()" id="createListForm" novalidate wc-form-submit>
	<h2 ng-hide="createListController.isEditing" translate>list.createList.title</h2>
	<h2 ng-show="createListController.isEditing" translate>list.editList.title</h2>
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label for="name" class="control-label" translate>list.createList.name </label>
				<input ng-model="createListController.list.name" id="name"
					   name="name" type="text" placeholder="" class="form-control ng-empty ng-invalid ng-invalid-required"
					   wc-validation-indicator="{{'list.createList.name' | translate}}" required/>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label for="description" class="control-label" translate>list.createList.description </label>
				<input ng-model="createListController.list.description" id="description"
					   name="description" type="text" placeholder="" class="form-control ng-empty ng-invalid ng-invalid-required"
					   wc-validation-indicator="{{'list.createList.description' | translate}}" required/>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label for="active" translate>	list.createList.active
				</label>
				<input type="checkbox" name="checkbox" id="active"
					   ng-model="createListController.list.active"/>
			</div>
		</div>
	</div>
	
	<div class="row form-actions">
		<div class="col-xs-6 text-center">
			<button type="button" id="cancel" ng-click="createListController.cancel()" class="btn btn-secondary" wc-click-once translate>
				list.createList.cancel
			</button>
		</div>
		<div class="col-xs-6 text-center">
			<button type="submit" id="save" class="btn btn-primary-default" 
				wc-continue-if-valid wc-click-once  translate>
				list.createList.save
			</button>
		</div>
	</div>
</form>