<div role="tabpanel" class="tab-pane fade" id="admin">
    <br>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Code</label>
            <input type="List Name" class="form-control" id="exampleInputEmail1" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
            <input type="List Description" class="form-control" id="exampleInputPassword1" placeholder="Enter Description">
        </div>

        <div class="radio">
            <div><label>
                <input type="radio">
                Active </label>
                <label>
                    <input type="radio">
                    inactive </label></div>
        </div>

        <span class="btn-link"><a href="#home1" data-toggle="tab" role="tab"><button>Save</button></a></span>
    </form>
</div>