<form class="well" role="form" name="createListItemForm" ng-submit="createListItemForm.$valid && createListItemController.submitListItem()" id="createListItemForm" novalidate wc-form-submit>
	<h2 ng-hide="createListItemController.isEditing" translate>listItem.createListItem.title</h2>
	<h2 ng-show="createListItemController.isEditing" translate>listItem.editListItem.title</h2>

	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label for="code" class="control-label" translate>listItem.createListItem.code </label>
				<input ng-model="createListItemController.listItem.code" id="code"
					   name="name" type="text" placeholder="" class="form-control ng-empty ng-invalid ng-invalid-required"
					   wc-validation-indicator="{{'listItem.createListItem.code' | translate}}" required/>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label for="description" class="control-label" translate>listItem.createListItem.description </label>
				<input ng-model="createListItemController.listItem.description" id="description"
					   name="description" type="text" placeholder="" class="form-control ng-empty ng-invalid ng-invalid-required"
					   wc-validation-indicator="{{'listItem.createListItem.description' | translate}}" required/>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label for="active" translate>	listItem.createListItem.active
				</label>
				<input type="checkbox" name="checkbox" id="active"
					   ng-model="createListItemController.listItem.active"/>
			</div>
		</div>
	</div>
	
	<div class="row form-actions">
		<div class="col-xs-6 text-center">
			<button type="button" id="cancel" ng-click="createListItemController.cancel()" class="btn btn-secondary" translate>
				listItem.createListItem.cancel
			</button>
		</div>
		<div class="col-xs-6 text-center">
			<button type="submit" id="save" class="btn btn-primary-default" wc-click-once wc-continue-if-valid translate>
				listItem.createListItem.save
			</button>
		</div>
	</div>
</form>