<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="deleteListModalInstanceController.reject()">&times;</button>
	<h3 class="modal-title" translate>list.deleteList.title</h3>
</div>
<div class="modal-body">
	<p translate>list.deleteList.instructions</p>
	<ul>
		<li ng-repeat="list in ::deleteListModalInstanceController.lists">
			{{list.name}}
		</li>
	</ul>
</div>
<div class="modal-footer form-actions">
	<button id="modal-submit" class="btn btn-primary-default" ng-click="deleteListModalInstanceController.resolve()" translate>application.buttons.yes</button>
	<button id="modal-cancel" class="btn btn-secondary" ng-click="deleteListModalInstanceController.reject()" translate>application.buttons.no</button>
</div>