<header role="banner">
	<div class="app-branding align-middle hidden-xxs">
		<div class="row">
			<div class="col-xs-8 col-sm-9 col-md-6">
				<div class="media">
					<button type="button" ng-click="newUiAppController.scrollToContent()" class="btn btn-link nav-global-skip" type="button">{{'application.header.buttons.skipToContent' | translate}}

					</button>
					<a class="media-left" href="#/">
						<img class="media-object logo" src="../webCore/assets/image/Ford-Oval.png" alt="Ford Oval"/>
					</a>
					<div class="media-body">
						<a class="media-heading" href="#/">{{'application.title' | translate}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="navbar navbar-default visible-xxs">
		<div class="container-fluid">
			<div class="row">
				<div class="media navbar-brand col-xs-9">
					<a class="media-left" href="#/">
						<img class="media-object logo" src="../webCore/assets/image/Ford-Oval.png" alt="{{'application.header.logo'|translate}}"/>
					</a>
					<button type="button" ng-click="newUiAppController.scrollToContent()" class="btn btn-link nav-global-skip">{{'application.header.buttons.skipToContent' | translate}}</button>

					<div class="media-body">
						<a class="media-heading" href="#/">{{'application.title' | translate}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</header>

<nav id="navMenu" wc-nav-menu ng-cloak menu-data="menu" menu-data-url="newUiApp/applicationMenuData.json">
	<ul class="nav"></ul>
</nav>
