<h1>{{'newAdmin.listScreen.title' | translate}}</h1>

<br>
<a ui-sref="new-list-item" ng-controller="ListScreenController"
	class="btn-primary btn-lg nodecoration">{{'newAdmin.listScreen.createNewList' | translate}}</a>
<br>
<table width="200" border="1" align="center">
	<tbody>
		<tr align="center">
			<td>&nbsp;<input type="text" ng-model="listsea" align="center"
				class="inputText" placeholder="Search">
			</td>
		</tr>
		<tr>
			<td align="center"><label>Lists</label></td>
			<td align="center"><label>Action</label></td>
		</tr>
		<tr ng-repeat="list in newlists | filter:listsea">
			<td align="center">&nbsp;<a ui-sref="newitem({id:list.id})"
				role="tab" aria-controls="Criteria">{{list.name}}</a>
			</td>
			<td align="center">&nbsp;<a class="btn btn-primary"
				ui-sref="viewNewlist({id:list.id})">View</a></td>
		</tr>
	</tbody>
</table>
<h4 align="center"></h4>

<div class="row">
<wc-responsive-table data="listScreenController.newlists" id="agent-table"
         pagination-enabled checkallnone-enabled responsive-view="scroll"  ng-model="listScreenController.newlists">

		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th wc-column-sort="name" wc-column-sort-default="asc">Name</th>
					<th wc-column-sort="active" wc-column-sort-default="asc">Active</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td ng-bind="row.name"></td>
					<td ng-bind="row.active"></td>
				</tr>
			</tbody>
		</table>
	</wc-responsive-table>
</div>